<h1>Welcome !</h1>

<ul>
<li><a href="http://localhost:3000/kinds">Kinds</a></li>
<li><a href="http://localhost:3000/contacts">Contacts</a></li>
<li><a href="http://localhost:3000/addresses">Addresses</a></li>
<li><a href="http://localhost:3000/phones">Phones</a></li>
</ul>