<h1>Welcome !</h1>

<ul>
<li><%= link_to "Kinds", kinds_path %></li>
<li><%= link_to "Contacts", contacts_path %></li>
<li><%= link_to "Addresses", addresses_path %></li>
<li><%= link_to "Phones", phones_path %></li>
</ul>